# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.env

# =========================
# Data & Media (DO NOT TRACK)
# =========================
data/
assets/
models/

# =========================
# Outputs
# =========================
*.mp4
*.avi
*.mov
*.gif
*.jpg
*.png

# =========================
# OS / IDE
# =========================
.DS_Store
.idea/
.vscode/
